* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/img/hq-todofondos-4KparaPC5.jpg);
  font-family: "Silkscreen", cursive;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: rgb(250, 244, 244);
}

#contenedor {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 150px;
  animation-name: moveInleft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

#miExcusa {
  animation: moveInRight 1s ease-out;
}


@keyframes moveInleft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translatex(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translatex(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

